# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.metadata
*.DS_Store
*.MF

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Hidden files
.settings
.classpath
.metadata
.DS_Store
.vscode/settings.json

# Folders
angular
target
node_modules
wcm/widget/fdwt_wizard_instalacao/src/main/webapp/resources/js/form/Digital Workplace Templates
wcm/widget/fdwt_wizard_instalacao/src/main/webapp/resources/js/form/Digte_Intranet
com.totvs.tds.ecm.dataservers